stepfunc/definition.json
{
    "Comment": "An example of a workflow which sends an SNS notification when a Batch job succeeds or fails.",
    "StartAt": "Submit Batch Job",
    "TimeoutSeconds": 3600,
    "States": {
      "Submit Batch Job": {
        "Type": "Task",
        "Resource": "arn:aws:states:::batch:submitJob.sync",
        "Parameters": {
          "JobName": "BatchJobNotification",
          "JobQueue": "arn:aws:batch:us-east-1:809003549255:job-queue/BatchJobQueue-kZ0A8DS4waBbeYo9",
          "JobDefinition": "arn:aws:batch:us-east-1:809003549255:job-definition/BatchJobDefinition-d09f7aefe12273a:1"
        },
        "Next": "Lambda Invoke",
        "Retry": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "IntervalSeconds": 30,
            "MaxAttempts": 2,
            "BackoffRate": 1.5
          }
        ],
        "Catch": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "Next": "Notify Failure"
          }
        ]
      },
      "Lambda Invoke": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "Payload.$": "$",
          "FunctionName": "arn:aws:lambda:us-east-1:809003549255:function:lambda-sam-demo-1:$LATEST"
        },
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException",
              "Lambda.TooManyRequestsException"
            ],
            "IntervalSeconds": 1,
            "MaxAttempts": 3,
            "BackoffRate": 2
          }
        ],
        "Next": "Notify Success"
      },
      "Notify Success": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sns:publish",
        "Parameters": {
          "Message": "Batch job submitted through Step Functions succeeded",
          "TopicArn": "arn:aws:sns:us-east-1:809003549255:StepFunctionsSample-BatchJobManagement440ca3d8-a6c9-435b-b87a-f4d2a08d37cd-SNSTopic-LzuU3xEZU79H"
        },
        "End": true
      },
      "Notify Failure": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sns:publish",
        "Parameters": {
          "Message": "Batch job submitted through Step Functions failed",
          "TopicArn": "arn:aws:sns:us-east-1:809003549255:StepFunctionsSample-BatchJobManagement440ca3d8-a6c9-435b-b87a-f4d2a08d37cd-SNSTopic-LzuU3xEZU79H"
        },
        "End": true
      }
    }
  }